annotated-types==0.6.0
bidict==0.23.1
build==1.2.1
certifi==2024.2.2
charset-normalizer==3.3.2
h11==0.14.0
idna==3.7
importlib_metadata==7.1.0
packaging==24.0
pydantic==2.7.1
pydantic-settings==2.2.1
pydantic_core==2.18.2
pyproject_hooks==1.1.0
python-dotenv==1.0.1
python-engineio==4.9.0
python-socketio==5.11.2
requests==2.31.0
simple-websocket==1.0.0
tomli==2.0.1
typing_extensions==4.11.0
urllib3==2.2.1
websocket-client==1.8.0
wsproto==1.2.0
zipp==3.18.1
